[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-environ = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
gunicorn = "*"
environ = "*"

[requires]
python_version = "3.7"
